In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [2]:
pd.set_option('display.max_rows', 15)
pd.set_option('display.max_columns', 15)

## 问题
* 哪些电影最受人关注？
* 哪些电影评分最高？
* 电影的评分和年龄、性别有关吗？

## load data

本案例参考参考Gred Reda的分析<br/>
http://grouplens.org/datasets/movielens/

**评分表**<br/>
196 242 3 881250949<br/>
186 302 3 891717742<br/>
22 377 1 878887116<br/>
244 51 2 880606923<br/>
166 346 1 886397596<br/>
298 474 4 884182806<br/>
115 265 2 881171488<br/>
253 465 5 891628467<br/>
305 451 3 886324817<br/>
**用户信息表**<br/>
1|24|M|technician|85711<br/>
2|53|F|other|94043<br/>
3|23|M|writer|32067<br/>
4|24|M|technician|43537<br/>
5|33|F|other|15213<br/>
**电影表**<br/>
1|Toy Story (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Toy%20Story%20(1995)|0|0|0|1|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0<br/>
2|GoldenEye (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?GoldenEye%20(1995)|0|1|1|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0<br/>
3|Four Rooms (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Four%20Rooms%20(1995)|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|0|1|0|0<br/>
4|Get Shorty (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Get%20Shorty%20(1995)|0|1|0|0|0|1|0|0|1|0|0|0|0|0|0|0|0|0|0<br/>
5|Copycat (1995)|01-Jan-1995||http://us.imdb.com/M/title-exact?Copycat%20(1995)|0|0|0|0|0|0|1|0|1|0|0|0|0|0|0|0|1|0|0<br/>

In [3]:
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv('./data/ml-100k/u.user', sep='|', names=u_cols, encoding='latin-1')

r_cols = ['user_id', 'movie_id', 'rating', 'unix_timestamp']
ratings = pd.read_csv('./data/ml-100k/u.data', sep='\t', names=r_cols, encoding='latin-1')

m_cols = ['movie_id', 'title', 'release_date', 'video_release_date', 'imdb_url']
movies = pd.read_csv('./data/ml-100k/u.item', sep='|', names=m_cols, encoding='latin-1')

# merge
movie_ratings = pd.merge(movies, ratings)
lens = pd.merge(movie_ratings, users)

In [4]:
lens.head()

,movie_id,title,release_date,video_release_date,imdb_url,user_id,rating,unix_timestamp,age,sex,occupation,zip_code
0,1,0,0,0,0,308,4,887736532,60,M,retired,95076
1,1,0,0,0,0,308,4,887736532,60,M,retired,95076
2,1,0,0,0,0,308,4,887736532,60,M,retired,95076
3,1,0,1,0,0,308,4,887736532,60,M,retired,95076
4,1,0,0,0,0,308,4,887736532,60,M,retired,95076